/* Grundlayout */
body {
    font-family: Helvetica, sans-serif;
    margin:  0;
    padding: 0;
    background-color: #f4f8de;
    color: #333;
}

p{
    margin-left:20px;

}

/* Überschriften */
h1 {
    background-color: #C04DFF;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-bottom: 5px solid #FF00AA;
}

h2, h3, h4 {
    color: #C04DFF;
    margin-top: 20px;
    margin-left:20px;
}

/* Navigation Links */
a {
    background-color: #24E0FF;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
}

a:hover {
    background-color: #FF00AA;
    color: white;
}

/* Bilder */
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    border: 4px solid #24E0FF;
}

/* Rezeptbox */
main {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #E2E603;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Zutaten */
ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
    margin-left:20px;
}

/* Schritte */
ol {
    padding-left: 20px;
    margin-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

ol li::marker {
    font-weight: bold;
    color: #C04DFF;
    font-size: auto;
}


/* Index Seite Verlinkungen */
.recipe-box a{
    background-color: #FF00AA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.recipe-box a:hover {
    background-color: #C04DFF;
}

